.navbar-nav {
	background-color: #ffd8eb;
}

#nav-list{
	text-align: center;
}

#nav-list a{
	border-bottom: 1px solid #ffa791;
}

h1{
	padding-bottom: 30px;
	padding-top: 30px;
}

.section{
	background-color: #ffa791;

}

.section p{
	padding: 20px;
	border: 2px solid #ffd8eb;
	text-align: justify;
	height: 1000px;
	border-top: 0;
}

.section h2{
	border: 2px solid #ffd8eb;
	text-align: center;
	margin: 0;
	border-bottom: 0;
	padding-top: 10px;
}